<div style="margin: 0 15px 0 1px;">
    <div class="row">
        <div>
            <div id="imaginary_container">
                <div id="search" class="input-group stylish-input-group input-append">
                    <input type="text" name="search" class="form-control" value="{{ search }}" placeholder="{{ text_search }}">
                    <span class="input-group-addon">
                        <button type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>