<div class="col-sm-7">
    <div class="col-sm-12"><h4>LIVRAISON</h4>
        <hr>
        <div class="col-sm-10 form-group">
            <label class="check_filter">test<h5>Livraison Standard</h5>
                <input type="radio" class="checkbox" name="livraison" value="standard">
                <span class="checkmark checkradio"></span>
            </label>
        </div>
        <div class="col-sm-2">gratuit</div>
        <div class="col-sm-10 form-group">
            <label class="check_filter">test<h5>Livraison express</h5>
                <input type="radio" class="checkbox" name="livraison" value="express">
                <span class="checkmark checkradio"></span>
            </label>
        </div>
        <div class="col-sm-2">gratuit</div>
    </div>
    <div class="col-sm-12"><h4>COMMANDE</h4>
        <hr>
    </div>
    <div class="col-sm-12"></div>
</div>
<div class="col-sm-5">
    <div class="col-sm-12"><h4>ADRESSE DE LIVRAISON</h4>
        <hr>
    </div>
    <div class="col-sm-12"><h4>ADRESSE DE FACTURATION</h4>
        <hr>
    </div>
    <div class="col-sm-12"><h4>MOYEN DE PAYEMENT</h4>
        <hr>
    </div>
    <div class="col-sm-12"><h4>CODE PROMO & CARTE CADEAU</h4>
        <hr>
    </div>
</div>