<div class="col-sm-8">
    <h4>MOYEN DE PAIEMENT</h4>
    <hr>
    <div class="form-group col-sm-9">
        <label class="check_filter">Carte bancaire <span style="color: darkgrey">(gratuit)</span>
            <input type="radio" class="checkbox">
            <span class="checkmark checkradio"></span>
        </label>
    </div>
    <span style="float: right">
        <img class="pay-checkout" src="catalog/view/theme/default/image/paypal.png">
        <img class="pay-checkout" src="catalog/view/theme/default/image/paypal.png">
    </span>
    <hr>
    <div class="form-group col-sm-9">
        <label class="check_filter">Paypal <span style="color: darkgrey">(gratuit)</span>
            <input type="radio" class="checkbox">
            <span class="checkmark checkradio"></span>
        </label>
    </div>
    <span style="float: right">
        <img class="pay-checkout" src="catalog/view/theme/default/image/paypal.png">
    </span>
    <hr>
    <div class="form-group col-sm-9">
        <label class="check_filter">Paiment a la livraison <span style="color: darkgrey">(gratuit)</span>
            <input type="radio" class="checkbox">
            <span class="checkmark checkradio"></span>
        </label>
    </div>
    <span style="float: right">
        <img class="pay-checkout" src="catalog/view/theme/default/image/paypal.png">
    </span>
</div>
<div class="col-sm-4">
    <h4>CODE PROMO & CARTE CADEAU (facultatif)</h4>
    <hr>
</div>